
.app-item {
  position: relative;
  width: 100%;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  box-shadow: 0 2px 3px 0 #e8ebed, 0 0 3px 0 #e8ebed;
}

.box-info:hover{
  background-color: rgba(244,247,246,0.3);
}

.box-info {
  transition: all 0.3s ease-in-out;
  padding: 1.5rem;
  flex: 1;
  position: relative;
  clear: both;
  background-color: var(--white);
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.box-info--content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.box-info--footer {
  display: flex;
}

.box-info--footer ul {
  display: inline-flex;
}

.box-info--footer li {
  display: inline-flex;
  align-items: baseline;
  padding: 0 1rem 0 0;
}

.box-info--footer li span {
  color: var(--gray-dark);
}

