input {
  font-size: 1rem;
  font-weight: 300;
  background-clip: padding-box;
  transition: all .2s ease;
  outline: 0;
  -webkit-appearance: none;
  width: 100%;
  resize: none;
  padding: 1rem;
  border: 1px solid var(--gray);
  margin-bottom: 2rem;
}

input:hover, input:focus {
  transition: all .2s ease;
  cursor: auto;
  border: 1px solid var(--teal);
}

.search-input {
  display: flex;
  text-align: center;
  position: relative;
}

.search-clear {
  position: absolute;
  z-index: 1000;
  top: 16px;
  right: 20px;
  font-size: 1rem;
  font-weight: normal;
  color: var(--teal);

  &:hover {
    color: var(--dark-gray);
  }
}
